.swiperContainer {
    margin: 50px 0;
}
.swiperItem {
    width: 1200px;
    margin: 0 auto;
}
.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    font-weight: bold;
    border: none;
    background-color: #A64D79;
    padding: 10px 20px;
    border-radius: 7px;
    transition: all ease 0.5s;
    margin-top: 30px;
    font-size: 16px;
    color: white;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: #6A1E55;
    }
}