.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: left;
}
.text {
    margin-top: 100px;
    font-size: 28px;
    line-height: 42px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    width: 650px;
    color: var(--dark-color);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}
.containerBtn {
    display: flex;
    justify-content: right;
    margin-right: 700px;
}
.homeBtn {
    background-color: var(--main-color);
    border: var(--secondary-color) solid 1px;
    border-radius: 12px;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    transition: all ease 0.4s;
    font-size: 18px;
    margin-top: 10px;

    &:hover {
        background-color: var(--secondary-color);
        color: white;
    }
}
.homeBtn a {
    color: white;
}
.link {
    display: flex;
    margin: 5vh 0;
}
.logo,
.message {
    margin: auto;
}
.btnContainer {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    padding: 10px 16px;
    color: var(--main-color);
    cursor: pointer;
    transition: all ease 0.4s;
    font-size: 18px;
    margin-bottom: 50px;

    &:hover {
        background-color: var(--secondary-color);
        color: white;
    }
}
.mealsContainer {
    margin: 60px 250px 50px;
    max-width: 1200px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}