.swiperContainer {
    margin: 50px 0;
}
.swiperItem {
    width: 1100px;
    margin: 0 auto;
}
.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    font-weight: bold;
    border: none;
    background-color: var(--main-color);
    padding: 12px 25px;
    border-radius: 10px;
    transition: all ease 0.5s;
    margin-top: 30px;
    font-size: 16px;
    color: white;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: var(--secondary-color);
    }
}

@media screen and (max-width: 1100px) {
    .swiperContainer {
        margin: 30px 0;
    }
    .swiperItem {
        width: 800px;
    }
    .btn {
        margin-top: 10px;
    }
    .btnContainer {
        margin-top: 10px;
    }
}