*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* ------------------------------------------------ */
.mealItem {
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    border: 1px solid lightgray;

    &:hover {
        border: 1px solid #A64D79;
    }
}
.mealTitle {
    margin: 10px;
    text-align: center;
    color: #3B1C32;
}
.mealImage img {
    width: 280px;
    height: 200px;
    object-fit: cover;
}
.mealDescription {
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
}
.mealBtn {
    font-weight: bold;
    border: none;
    background-color: #A64D79;
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
    transition: 0.3s;
    margin: 0 10px 10px 10px;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: #6A1E55;
    }
}
.mealItemBottom {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}