*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/* ------------------------------------------------ */
.mealItem {
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s;

    &:hover {
        border: 1px solid #7ABA78;
    }
}
.mealTitle {
    margin: 10px;
    text-align: center;
}
.mealImage img {
    width: 280px;
    height: 200px;
    object-fit: cover;
}
.mealDescription {
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
}
.mealBtn {
    font-weight: bold;
    border: none;
    background-color: #7ABA78;
    padding: 5px 15px;
    border-radius: 7px;
    transition: 0.3s;
    margin: 0 10px 10px 10px;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: #0A6847;
    }
}
.mealItemBottom {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}