.footer {
    margin: 0 auto;
    border-top: var(--dark-color) solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    gap: 30px;
}

.list {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 15px;
}
.list li {
    cursor: pointer;
}
.footerColumn {
    display: flex;
    justify-content: space-between;
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.logoItem {
    font-size: 24px;
}
.text {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

@media screen and (max-width: 1030px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }
}