.container {
    padding: 70px 0 20px 0;
    background: #f1f1f1;
    width: 1200px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
    text-align: center;
    padding-bottom: 30px;
}