.swiperContainer {
    margin: 0 auto;
}
.swiperItem {
    display: flex;
    width: 70%;
    margin: 30px auto;
}
.reviewItem {
    background-color: white;
    width: 350px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid lightgray;
    margin-bottom: 40px;
}
.reviewTop {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.starRating {}
.date {
    font-size: 14px;
}
.title {
    margin: 10px 0;
}
.description {
    font-style: italic;
}