:root {
  --main-color: #A64D79;
  --secondary-color: #6A1E55;
  --dark: #3B1C32;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  font-family: 'Montserrat', sans-serif;
}