:root {
  --main-color: #EC625F;
  --secondary-color: #e6403d;
  --dark-color: #313131;
  --bright-color: #525252;
  --light-color: #d7ccc8;
}
html,
body,
#root {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}