.container {
    max-width: 1200px;
    margin-left: 40px;
}
.searchForm {
    display: flex;
    gap: 15px;
    width: 500px;
    margin-top: 100px;
}
.searchBtn {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 12px;
    background-color: var(--main-color);
    transition: all 0.5s;
    font-size: 16px;
    color: white;

    &:hover {
        cursor: pointer;
        color: white;
        background-color:  var(--secondary-color);
    }
}
.searchInput {
    border-radius: 12px;
    border: lightgray 1px solid;
    width: 500px;
    padding: 10px 35px 10px 35px;
    font-size: 16px;
}
.iconClear, .iconSearch {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.iconClear {
    right: 130px;
    font-size: 16px;
    color: lightgray;
    display: none;
}

.iconSearch {
    left: 10px;
    font-size: 16px;
    color: lightgray;
}

.searchInput:not(:placeholder-shown) + .iconClear {
    display: block;
}