.panel {
    font-size: 18px;
    line-height: 24px;
}

.legend {
    border-radius: 10px;
    margin: 15px 0 10px;
    font-weight: bold;
}
.title {
    color: var(--main-color);
    /*background-color: var(--main-color);*/
    /*padding: 10px 16px;*/
    margin: 20px 0;
    /*color: white;*/
    /*border-radius: 10px;*/
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.input {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.item {
    margin-left: 20px;
    position: relative;
}

.item label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
}

.item label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: white;
}

.input:checked + label::before {
    background-color: green;
    border-color: green;
}

.input:checked + label::after {
    content: "✓";
    position: absolute;
    left: 5px;
    top: -1px;
    font-size: 16px;
    color: white;
}
.itemsBtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.4s;
    font-weight: bold;

    &:hover {
        background-color: var(--secondary-color);
    }
}

#name {
}

#date {
}

#price {
}

#rating {
}

#cheap {
}

#expensive {
}

#new {
}

#highest {
}